<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628354969973-799qkrql06b0al9srrk72o67tuhaofpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628354969973-799qkrql06b0al9srrk72o67tuhaofpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBlSAOX5fA1zRfQnpdLfevTX6BgL8R0OkA</string>
	<key>GCM_SENDER_ID</key>
	<string>628354969973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appgehen.marryinportugal</string>
	<key>PROJECT_ID</key>
	<string>marry-me-cf187</string>
	<key>STORAGE_BUCKET</key>
	<string>marry-me-cf187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628354969973:ios:cb32943b0daafd7451233c</string>
	<key>DATABASE_URL</key>
	<string>https://marry-me-cf187-default-rtdb.firebaseio.com</string>
</dict>
</plist>